body {
  padding-top: 35px;
  padding-bottom: 0px;
  background-color: #212121;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
  overflow-x: hidden;
}
h1 {
  margin-top: 0px;
  margin-bottom: 56px;
  padding-top: 0px;
  padding-bottom: 0px;
  float: left;
  background-color: transparent;
  color: rgba(36, 34, 34, 0.8);
  font-size: 35px;
  line-height: 44px;
  font-weight: 700;
}
h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}
h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  margin-bottom: 5px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 400;
}
a:link {
  color:rgba(61,61,61,0.8);
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}
a:visited {
  color:rgba(61,61,61,0.8);
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}
a:hover {
  color:#FF00FF;
}
.button {
  display: inline-block;
  padding: 4px 15px;
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
}
.section {
  margin-top: 40px;
  margin-bottom: 40px;
  padding-top: 26px;
  padding-bottom: 25px;
  background-color: #a3a3a3;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 18px;
}
.com {
  font-size: 26px;
}
.paragraph0 {
  font-family: Verdana, Geneva, sans-serif;
  color: #8a8a8a;
  font-size: 40px;
  line-height: 40px;
  font-style: normal;
}
.section1 {
  margin-top: 15px;
  margin-bottom: -24px;
  padding-top: 0px;
  line-height: 25px;
}
.header-container {
  padding: 0px 5px;
}
.intro {
  padding: 5px 15px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 24px;
  line-height: 27px;
}
.headerbolds {
  padding-right: 0px;
  padding-left: 0px;
  font-family: 'Courier new';
  font-weight: 200;
  font-size: 26px;
  font-weight: 400;
}
.headerbolds.hello {
  color: #872929;
  font-family: 'Courier new';
  font-weight: 200;
  font-size: 38px;
  font-weight: 700;
}
.text {
  margin-bottom: 30px;
  padding-right: 5px;
  padding-left: 5px;
  font-family:'Droid Serif', serif;
  color: #bfbdbd;
  font-size: 16px;
}
.section-background {
  padding-top: 70px;
  padding-bottom: 70px;
  float: none;
  background-image: url('../images/eyes.jpg');
  background-position: 0% 51%;
  background-size: cover;
  background-repeat: no-repeat;
}
.gallerysection {
  padding-top: 0px;
  padding-bottom: 0px;
}
.image {
  float: left;
}
.imagebox {
  position: static;
  left: 0px;
  top: 0px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.centered-image {
  display: block;
  overflow-x: visible;
  overflow-y: visible;
  margin-left: auto;
  margin-right:auto;
  float: none;
  max-width: 600px;
  
  margin-bottom: 2em;
  border-radius: 10px;
}
.linkedinlink {
  display: block;
  margin-right: auto;
  margin-left: auto;
  float: left;
}
.linkbox1 {
  float: right;
}
.linkbox2 {
  float: left;
}
.container-links {
  display: block;
  margin-left: auto;
}
.blocklinks {
  display: block;
  width: 120px;
  margin-right: auto;
  margin-left: auto;
}
.image2 {
  margin-left: 10px;
  padding-left: 0px;
}
.image1 {
  margin-right: 10px;
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
  .section {
    margin-bottom: 20px;
  }
  .section1 {
    margin-bottom: 20px;
    padding-top: 0px;
  }
  .section-background {
    margin-left: -30px;
  }
}
@media (max-width: 479px) {
  .text {
    margin-bottom: -20px;
  }
  .section-background {
    padding-bottom: 16px;
  }
}
 .content {
        max-width: 800px;
        margin: auto;
    }

  .section { 
    margin-left: -1000px;
    margin-right: -1000px;
    padding-left: 1000px;
    padding-right: 1000px;
  }
  .titles {
    color: #eee;
    font-size: 1.2em;
    text-align: center;
    margin: 1em 0;

    font-family: 'Courier new';
  font-weight: 200;
  }

  .footer {
    color: #eee;
    font-size: 1.6em;
    text-align: center;
    margin: 1em 0;

    font-family: 'Courier new';
  font-weight: 200;
  }